.day {
  font-size: 32px;
  border-top: 1px solid rgba(218, 218, 218, 1);
  border-left: 1px solid rgba(218, 218, 218, 1);
  display: grid;
  place-items: center;
  position: relative;
}

@media (max-width: 960px) {
  .day {
    font-size: 20px;
  }
}

.day:nth-of-type(7n) {
  border-right: 1px solid rgba(218, 218, 218, 1);
}

.day > a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.day--past {
  background: rgba(243, 243, 243, 1);
}

.day--present {
  background: rgba(242, 204, 143, 1);
}

.day--present .day__date {
  color: rgba(218, 80, 5, 1);
}

.day--future {
  background-color: white;
}

.day__date {
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
