.flashcards-holder {
  display: flex;
  gap: 16px;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.folder-list {
  display: flex;
  margin-left: 32px;
}

.folder {
  padding: 2px 4px;
  margin-right: 8px;
  border-radius: 4px;
  color: white;
  background-color: #4848ff;
}

button {
  display: block;
  font-size: 2rem;
  width: 100%;
  padding: 16px 32px;
  margin-top: 8px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

button:focus-visible,
button:hover {
  background-color: var(--secondary);
  color: white;
}

.bad-button {
  --primary: rgba(255, 0, 59, 0.16);
  --secondary: rgb(199, 0, 17);
}

.good-button {
  --primary: rgba(0, 255, 34, 0.16);
  --secondary: rgb(0, 182, 10);
}

.check-button {
  --primary: rgba(0, 247, 255, 0.16);
  --secondary: rgb(0, 199, 192);
  margin-top: 0;
  flex: 0px 1 1;
}

.check-button[disabled] {
  --primary: rgba(105, 60, 67, 0.16);
  --secondary: rgb(89, 46, 50);
}

.check-button[disabled] {
  cursor: not-allowed;
  color: var(--secondary);
  background-color: var(--primary);
}

.answer-holder .good-button {
  margin-top: 0;
}

.answer-holder {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.answer-holder textarea {
  font-size: 2rem;
  padding: 16px;
  border-right: none;
  margin-right: -8px;
  width: 50%;
}

.answer-holder textarea:focus-visible {
  outline: none;
  border: 2px solid rgb(0, 199, 192);
  border-right: none;
}
