.flashcards-holder {
  display: flex;
  gap: 16px;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0 4px 4px 0 rgba(168, 168, 168, 0.25);
  word-break: break-word;
  background: white;
}

.tag-list {
  display: flex;
  margin: 12px 0 22px;
}

.folder {
  display: flex;
  align-items: center;
  padding: 5px 16px 5px;
  margin-right: 8px;
  color: white;
  font-size: 22px;
  color: rgba(25, 130, 196, 1);
  background: rgba(25, 130, 196, 0.25);
  border-radius: 20px;
  text-transform: uppercase;
}

.folder__text {
  margin-top: 2px;
}

.folder-icon {
  margin-right: 8px;
}

button {
  font-size: 20px;
  width: 100%;
  padding: 16px 32px;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid var(--primary);
  border-radius: 0 0 20px 20px;
}

button:focus-visible,
button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.bad-button {
  --primary: rgba(255, 0, 59, 0.16);
  --secondary: rgb(199, 0, 17);
}

.good-button {
  --primary: rgba(0, 255, 34, 0.16);
  --secondary: rgb(0, 182, 10);
}

.check-button {
  --primary: rgba(127, 158, 52, 1);
  --secondary: #fff;
  margin-top: 0;
  flex: 0px 1 1;
}

.check-button[disabled] {
  --primary: rgba(105, 60, 67, 0.16);
  --secondary: rgb(89, 46, 50);
}

.check-button[disabled] {
  cursor: not-allowed;
  color: var(--secondary);
  background-color: var(--primary);
}

.answer-holder .good-button {
  margin-top: 0;
}

.answer-holder {
  background: #ffffff;
  margin-top: 48px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(183, 183, 183, 0.25);
}

.answer-holder textarea {
  font-size: 20px;
  padding: 16px;
  margin-right: -8px;
  border: none;
  width: 100%;
  height: 180px;
  resize: none;
  border-radius: 20px 20px 0 0;
}

.answer-holder textarea:focus-visible {
}
