.flashcards-holder {
  display: flex;
  gap: 32px;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0 4px 4px 0 rgba(168, 168, 168, 0.25);
  word-break: break-word;
  background: white;
  aspect-ratio: 1;
}

.flashcard img {
  width: 30%;
}

.answer--correct .flashcard--back {
  border: 3px solid rgba(138, 201, 38, 1);
}

.answer--wrong .flashcard--back {
  border: 3px solid rgba(218, 80, 5, 1);
}

@media (max-width: 960px) {
  .flashcards-holder {
    display: flex;
    gap: 16px;
  }

  .flashcard {
    padding: 16px;
    font-size: 24px;
  }
}

.tag-list {
  display: flex;
  margin: 12px 0 22px;
  gap: 16px;
}

.folder,
.tag {
  display: flex;
  align-items: center;
  padding: 5px 16px 5px;
  color: white;
  font-size: 22px;
  color: rgba(25, 130, 196, 1);
  background: rgba(25, 130, 196, 0.25);
  border-radius: 20px;
  text-transform: uppercase;
}

.folder__text,
.tag__text {
  margin-top: 2px;
}

.folder-icon {
  margin-right: 8px;
}

button {
  font-size: 20px;
  width: 100%;
  padding: 16px 32px;
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid var(--primary);
}

button:focus-visible,
button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.results-buttons {
  display: flex;
}

.result-form {
  flex: 0px 1 1;
}

.bad-button {
  --primary: rgba(218, 80, 5, 1);
  --secondary: #fff;
  border-radius: 0 0 0 20px;
}

.good-button {
  --primary: rgba(138, 201, 38, 1);
  --secondary: #fff;
  border-radius: 0 0 20px 0;
}

.only-button {
  border-radius: 0 0 20px 20px;
}

.check-button {
  --primary: rgba(127, 158, 52, 1);
  --secondary: #fff;
  border-radius: 0 0 20px 20px;
}

.answer-holder .good-button {
  margin-top: 0;
}

.answer-holder {
  background: #fff;
  margin-top: 48px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(183, 183, 183, 0.25);
}

.answer-holder textarea {
  display: block;
  font-size: 20px;
  padding: 24px 28px;
  margin-right: -8px;
  border: none;
  width: 100%;
  height: 180px;
  resize: none;
  border-radius: 20px 20px 0 0;
  background: #fff;
}

.answer-holder textarea::placeholder {
  color: rgba(172, 172, 172, 1);
}

.answer--correct textarea {
  color: rgba(138, 201, 38, 1);
}

.answer--wrong textarea {
  color: rgba(218, 80, 5, 1);
}
