*,
*::before,
*::after {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #272727;

  --shadow-color: 0deg 0% 72%;

  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.33),
    0.8px 1.7px 2.1px -2.4px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.31),
    1.1px 2.3px 2.9px -1.2px hsl(var(--shadow-color) / 0.32),
    4.2px 8.4px 10.7px -2.4px hsl(var(--shadow-color) / 0.33);
}
